################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Fiszkoteka/.vs/Fiszkoteka.slnx
/Fiszkoteka/QuizMaster.Core/obj
/Fiszkoteka/.vs/ProjectEvaluation
/Fiszkoteka/QuizMaster.Wpf/obj
/Fiszkoteka/QuizMaster.Application/bin/Debug/net10.0
/Fiszkoteka/QuizMaster.Application/obj
/Fiszkoteka/QuizMaster.Contracts/bin/Debug/net10.0
/Fiszkoteka/QuizMaster.Contracts/obj
/Fiszkoteka/QuizMaster.Core/bin/Debug/net10.0
/Fiszkoteka/QuizMaster.Wpf/bin/Debug/net10.0-windows
/Fiszkoteka/QuizMaster.Infrastructure/bin/Debug/net10.0
/Fiszkoteka/QuizMaster.Infrastructure/obj
/Fiszkoteka/QuizMaster.Web/bin/Debug/net10.0
/Fiszkoteka/QuizMaster.Web/obj
/Fiszkoteka/QuizMaster.WebApi/bin/Debug/net10.0
/Fiszkoteka/QuizMaster.WebApi/obj
